# Project dependencies
.cache
node_modules
yarn-error.log
package-lock.json

# Build directory
/public
.DS_Store

.vscode/

# Environment variables
.env
.env.*
!.env.example

# Hide resume
content/resume/
content/jobs/*/hidden.md

# Temporary files
*.swp
*.swo
*~
.tmp
.cache/